.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .home {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .home {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .home {
        width: 1200px;
    }
}

.title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: var(--accent-color);
}