:root {
    --primary-color: #fff;
    --secondary-color: #EBD8FF;
    --gradient-color: linear-gradient(to bottom right, #471CA9, #5736A3, #4B2A99);
    --font-color: #373737;
    --accent-color: #5CD3A8;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: var(--primary-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}